/*diseño del juego mokepon

página en donde puedo ver propiedades para css, se llama cssreference.io*/
/*selector fifo, porque es el mismo nombre que tiene nuestra etiqueta html
h1 {
    cambio de color para el título,
    vínculo entre el archivo de css y html, es conocido como selector
    color: lightcoral;
}*/
/*selector tipo id, en este caso se debe pones un # antes del nombre
#mokepon{
    color: blueviolet;
}*/

/*selector clase, como es un selector de clase se le debe poner un (.) antes del nombre*/
.titulo{
    color: hotpink;
    width: 310px; /*ancho*/
    height: 50px; /*alto*/
    background-color: teal; /*color de fondo*/
}

/*3 tipos de visualización
tipo block, tipo inline, tipo inline-block*/

/*label{ *tipo inline
    background-color: tomato;
    width: 330px; /*ancho
    height: 50px; /*alto
}*/

/*input{tipo inline-block
    background-color: aqua;
    width: 330px; /*ancho
    height: 50px; /*alto
}*/

/*button{
    background-color: blueviolet;
    width: 330px; /*ancho
    height: 50px; /*alto
}*/

/*alineación de elementos con flexbox
elementos padres: contenedores
elementos hijos: están dentro de los contenedores*/
/*el elemento padre puede tener el display: flex, puede utilizar justify-content*/
/*el elemento hijo, puede cambiar el orden, tamaño*/

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


